asyncpg==0.30.0
bcrypt==4.2.0
email_validator==2.2.0
fastapi==0.115.4
fastapi-cli==0.0.5
greenlet==3.1.1
httpx==0.27.2
jinja2>=3.1.5
passlib==1.7.4
pydantic
pydantic-extra-types==2.10.1
pydantic-settings==2.7.1
pydantic_core
PyJWT==2.9.0
pynest-api==0.3.2
python-dotenv==1.0.1
python-multipart>=0.0.18
SQLAlchemy==2.0.34
uvicorn>=0.30.6
psycopg2-binary
# pip install psycopg2-binary
