<div class="top-space"></div>
<div class="auth-container">
    <h2>Login account</h2>
    <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput type="text" placeholder="Username">
    </mat-form-field>
      
    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide() ? 'password' : 'text'" />
      <button
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

      <div class="footer-section">
        <button color="primary" mat-flat-button>Login</button>
      </div>
      <div class="footer-section">
        <span>Does not have account?</span>
        <a mat-button routerLink="/register">Register</a>
      </div>
  </div>
  